.container {
  display: flex;
  flex: 1;
  gap: 0.75rem;

  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  border-radius: 8px;

  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
}

.container div {
  display: flex;
}

.container label {
  display: flex;
  padding: 3px;
  align-items: center;
  gap: 0.75rem;
}

.container label input[type='checkbox'] {
  display: none;
}

.checkbox {
  border-radius: 100%;
  height: 1.125rem;
  width: 1.125rem;

  transition: 0.2s all;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-unchecked {
  border: 2px solid var(--blue);
}

.checkbox-unchecked:hover {
  background-color: rgba(30, 111, 159, 0.2);
}

.checkbox-checked {
  border: 2px solid var(--purple-dark);
  background-color: var(--purple-dark);
}

.checkbox-checked:hover {
  border: 2px solid var(--purple);
  background-color: var(--purple);
}

.paragraph {
  font-size: 0.875rem;
  line-height: 140%;
  user-select: none;

  transition: 0.2s all;
}

.paragraph-checked {
  text-decoration: line-through;
  color: var(--gray-300);
}

.container button {
  border: none;
  background-color: transparent;
  border-radius: 4px;

  padding: 5px 4px 2px 4px;
  
  transition: 0.2s background-color;
}

.container button line, .container button path {
  transition: 0.2s fill;
}

.container button:hover {
  background-color: var(--gray-400);
}

.container button:hover line, .container button:hover path {
  fill: var(--danger);
}