.content{
  max-width: 46rem;
  width: 100%;

  margin: 0 auto;
}

.taskInfoContainer {
  display: flex;
  flex: 1;

  justify-content: space-between;
  gap: 0.5rem;  
}

.taskInfoContainer input, .taskInfoContainer button {
  transform: translateY(-50%);

  margin-bottom: 2.3125rem;
}

.tasksList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tasksList > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}